body{
    margin: 0;
    font-size: 16px;
    background-color: rgb(186, 213, 224);

}

header{
    background-image: url("Piscina2.jpg");
    background-size: cover;
    height: 100px;
    
}

 header div{
    color: white;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
}
#menu{
    background-color: rgba(37, 37, 201);
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
nav a{
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 15px;
    text-decoration: none;
    color: whitesmoke
}


a:hover {
    background-color: white;
    color: black;
}
#overlay{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
   
   display: flex;
   align-items: center;
   justify-content: center;
}

footer {
    background-color: rgb(31, 29, 29);
    height: 200px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.profilo{
    height: 6em;
    width: 100px;
    border-radius: 50%;
}
/* Menu*/
.pos{
    position: fixed;
    width: 100%;
    top: 0;
}
section{
    padding-top: 150px;
}
#menuacomparsa{
    display: none;
   
}

#overlay {
    justify-content: space-around;
}
div#menuacomparsa div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media(max-width: 800px){
    #menuacomparsa{
        display: block;
        }
        #menu{
            display: none;
    
            height: 500px;
            width: 100%; 
        }
        
        .scorrimento{
            overflow: hidden;
        }
        .class{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        .description{
            width: 35%;
        }
}

 /* CODICE PER ALTRE COSE */
 section{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
img{
    width: 200px;
}
em{
    font-weight: bold;
}

.description{
    width: 50%;
    font-size: 1.5em;
}